

.asset-image {
    width:128px;
    padding:10px;
}


.moreImage {
    width: 180px;
    padding: 10px;
}
.moreInfo {
    padding: 10px;
    font-size: 1.3em;
    color: #555;

}
.moreHeading {
    padding: 10px;
}



#assets-table td{
    text-align:center;
    border-bottom: 1px solid #ddd;
}

#catalogue index table {
    font-size: 1.3em;
}

#catalogue index table td {
    vertical-align: middle;
}

#catalogue index table tr:hover {
    background-color: #eee;

}

#assets {
    margin: 0 auto;
}

#assetTitle {
    font-size: 2.3em;
}

#assetAuthororDirector {
    font-size: 1.6em;
}

#assetAvailability {
    font-size: 1.3em;
    font-weight: bold;
}

#assetType {
    font-size: 1.6em;
    color: #888;
}

.assetLabel {
    font-weight: bold;
}

.assetValue {
    text-align: right;
    font-size: 0.8em;
}
















