

.asset-image {
    width:180px;
    padding:10px;
}


.detailImage {
    width: 180px;
    padding: 10px;
}



#assets-table td{
    text-align:center;
    border-bottom: 1px solid #ddd;
}

















